{
  "endOfLine": "auto",
  "arrowParens": "always",
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "arrowBodyStyle": "off",
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2
}

