@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%; 
    --foreground: 210 20% 20%; 

    --card: 0 0% 100%; 
    --card-foreground: 210 20% 15%; 

    --popover: 0 0% 93%; 
    --popover-foreground: 210 20% 12%; 

    --primary: 240 80% 50%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 240 15% 85%; 
    --secondary-foreground: 240 20% 40%;

    --muted: 0 0% 90%; 
    --muted-foreground: 210 15% 30%; 

    --accent: 240 36% 37%; 
    --accent-foreground: 0 89% 93%; 

    --destructive: 0 84.2% 60.2%; 
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 80%; 
    --input: 0 0% 96%; 
    --ring: 240 76.2% 36.3%;
    --radius: rem; 
  }

  .dark {
    --background: 20 14% 8%; 
    --foreground: 0 0% 85%; 

    --card: 24 10% 15%; 
    --card-foreground: 0 0% 80%; 

    --popover: 24 10% 13%; 
    --popover-foreground: 0 0% 82%; 

    --primary: 240 50% 60%;
    --primary-foreground: 240 80% 20%;

    --secondary: 240 10% 30%; 
    --secondary-foreground: 0 0% 75%; 

    --muted: 20 15% 12%;
    --muted-foreground: 210 10% 67%; 

    --accent: 240 36% 17%; 
    --accent-foreground: 32 89% 50%; 

    --destructive: 0 65% 40%;
    --destructive-foreground: 0 0% 90%; 

    --border: 240 10% 25%;
    --input: 24 10% 17%; 

    --ring: 240 70% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Home page styles */
  .zoom-in-out {
    animation: textInOutAnimation 1s ease-in-out;
  }

  .squize-letter {
    animation:
      alphabetAnimation 1s ease-in-out,
      textColorAnimation 1s ease-in-out;
  }

  @keyframes alphabetAnimation {
    0% {
      transform: scale(1.2, 0.5);
    }
    16% {
      transform: scale(1.2, 0.5);
    }
    25% {
      transform: scale(1.2, 0.5);
    }
    32% {
      transform: scale(0.8, 1.1);
    }
    48% {
      transform: scale(0.95, 1);
    }
    64% {
      transform: scale(0.8, 1.2);
    }
    80% {
      transform: scale(1.15, 1);
    }
    87% {
      transform: scale(1.15, 1);
    }
    90% {
      transform: scale(0.8, 1);
    }
    95% {
      transform: scale(1.05, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes textInOutAnimation {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(3, 2);
      color: var(--primary-foreground);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
